In [89]:
import pandas as pd
import numpy as np

In [90]:
df=pd.read_csv("dataset_Facebook.csv",sep=";")

In [91]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [92]:
df2=df[["Type","Lifetime Post Total Reach","comment"]].loc[0:15]

In [93]:
df2

      Type  Lifetime Post Total Reach  comment
0    Photo                       2752        4
1   Status                      10460        5
2    Photo                       2413        0
3    Photo                      50128       58
4    Photo                       7244       19
5   Status                      10472        1
6    Photo                      11692        3
7    Photo                      13720        0
8   Status                      11844        0
9    Photo                       4694        3
10  Status                      21744        0
11   Photo                       3112        0
12   Photo                       2847        0
13   Photo                       2549        5
14   Photo                      22784        2
15  Status                      10060        4

In [94]:
df3=df[["Type","Lifetime Post Total Reach","comment"]].loc[15:30]

In [95]:
df3

      Type  Lifetime Post Total Reach  comment
15  Status                      10060        4
16   Photo                       1722        2
17   Photo                      53264       15
18  Status                       3930        4
19   Photo                       1591        0
20   Photo                       2848        3
21   Photo                       1384        0
22    Link                       3454        0
23   Photo                       2723        0
24  Status                       8488        3
25  Status                       8284        0
26  Status                      19552       10
27   Photo                       2478        0
28   Photo                       9560       36
29   Video                      36208       18
30   Photo                       4940       33

In [96]:
merge=pd.concat([df2,df3])

In [97]:
merge

      Type  Lifetime Post Total Reach  comment
0    Photo                       2752        4
1   Status                      10460        5
2    Photo                       2413        0
3    Photo                      50128       58
4    Photo                       7244       19
5   Status                      10472        1
6    Photo                      11692        3
7    Photo                      13720        0
8   Status                      11844        0
9    Photo                       4694        3
10  Status                      21744        0
11   Photo                       3112        0
12   Photo                       2847        0
13   Photo                       2549        5
14   Photo                      22784        2
15  Status                      10060        4
15  Status                      10060        4
16   Photo                       1722        2
17   Photo                      53264       15
18  Status                       3930        4
19   Photo                       1591        0
20   Photo                       2848        3
21   Photo                       1384        0
22    Link                       3454        0
23   Photo                       2723        0
24  Status                       8488        3
25  Status                       8284        0
26  Status                      19552       10
27   Photo                       2478        0
28   Photo                       9560       36
29   Video                      36208       18
30   Photo                       4940       33

In [98]:
sort=df.sort_values("Page total likes")

In [99]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [100]:
sort=df.sort_values(["Page total likes","Lifetime Post Total Reach"],ascending=True)

In [101]:
sort.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84

In [102]:
traspose=df.transpose()

In [103]:
traspose.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4

In [127]:
X = df["Page total likes"].loc[0:15]

In [136]:
arr=np.array(X)
arr

array([139441, 139441, 139441, 139441, 139441, 139441, 139441, 139441,
       139441, 139441, 139441, 139441, 139441, 139441, 138414, 138414],
      dtype=int64)

In [137]:
reshape=arr.reshape(-1,1)
reshape

array([[139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [139441],
       [138414],
       [138414]], dtype=int64)